@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@utility container {
  padding-inline: 1rem;
  margin-inline: auto;
  max-width: 100%;

  @variant md {
    padding-inline: 2rem;
  }

  @variant lg {
    padding-inline: 3rem;
  }

  @variant xl {
    padding-inline: 4rem;
  }
}

@theme {
  --color-c-orange: hsl(12, 88%, 59%);
  --color-c-orange-50: hsl(13, 100%, 96%);
  --color-c-blue: hsl(228, 39%, 23%);
  --color-c-gray: hsl(233, 12%, 13%);
  --color-c-gray-50: hsl(0, 0%, 98%);

  --font-vietnam: "Be Vietnam Pro", sans-serif;
}

html,
body {
  font-family: var(--font-vietnam);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
